<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Custom Directive -->
      <div>
        <p appDefaultTheme>home-page works!</p>
      </div>
      <!-- toggle the "special" class on/off with a property -->
      <div class="my-3">
        <button (click)="onClick()" type="button" class="btn btn-danger">Click</button>
      </div>
      <div>
        <p [ngClass]="isClick ? 'btn-primary btn' : 'btn-danger btn'" class=""> Lorem ipsum dolor sit amet consectetur
        </p>
      </div>


      <div [ngStyle]="currentStyles" (click)="setCurrentStyles()">
        This div is initially italic, normal weight, and extra large (24px).
      </div>
      <label for="example-ngModel">[(ngModel)]:</label>
      <input [(ngModel)]="currentItem_name">
      <p> {{currentItem_name}} </p>

      <label for="example-change">(ngModelChange)="...name=$event":</label>
      <input [(ngModel)]="currentItem_name1" (ngModelChange)="currentItem_name1=$event">
      <p> {{currentItem_name1}} </p>

      <h1>Ng Switchcase</h1>
      <div>
        <ul class="list-unstyled" *ngFor="let itemName of items">
          <li><input type="radio" name="itemName"> {{itemName.name}} </li>
        </ul>
      </div>



    </div>
  </div>
</div>
